# NOP Checker

In [11]:
import pandas as pd
import os
import sys

sys.path.insert(1, '../src')
from noto import float_to_str
import numpy as np

In [3]:
PATH_DATA = '../data/'

# Get Data

In [4]:
# !pip install openpyxl

In [5]:
os.listdir(PATH_DATA)

['LIST_NOP_DURI_KOSAMBI.xlsx', 'INTEGRASI_DRK.dbf.xlsx']

In [6]:
main_xls = pd.ExcelFile(PATH_DATA + 'INTEGRASI_DRK.dbf.xlsx')
sim_xls = pd.ExcelFile(PATH_DATA + 'LIST_NOP_DURI_KOSAMBI.xlsx')

In [7]:
main_xls.sheet_names

['INTEGRASI_DRK']

In [8]:
sim_xls.sheet_names

['ALL',
 'RW000',
 'RW001',
 'RW002',
 'RW003',
 'RW004',
 'RW005',
 'RW006',
 'RW007',
 'RW008',
 'RW009',
 'RW010',
 'RW011',
 'RW012',
 'RW013',
 'RW014',
 'RW015']

In [17]:
df_main = main_xls.parse('INTEGRASI_DRK',converters = {'NOP' : str})
df_sim = sim_xls.parse('ALL',converters = {'Nop' : str})

## Data Cleansing

In [18]:
## main always have this columns
col_use = ['OBJECTID', 'NOP', 'NAMA_WP', 'NAMA_OP',
       'LUAS_GEOM', 'LUAS_BUMI', 'LUAS_BGN', 'ALAMAT_OP', 'KAV_NO_OP', 'RW',
       'RT', 'KELURAHAN', 'KECAMATAN', 'WILAYAH', 'KET', 'SUMBER', 'ID_BLOK', 'SIA_KET_NO', 'STATUS',
       'SIA_KET', 'URL_FOTO', 'SEARCH', 'STATUS_PEM', 'STATUS_P_1', 
       'GOOGLE_MAP',
       'KET_FASUM', 'KATEGORI_F', 'POLA_2021', 'UMUR_NOP_R', 'Shape_Leng', 'Shape_Area', 'KETLUAS',
       'RASIO_LUAS']

In [19]:
## make lower colname

df_main = df_main[col_use]
col_use2 = [x.lower() for x in col_use]
col_mapping = dict(zip(col_use, col_use2))
df_main = df_main.rename(columns = col_mapping)
try:    
    df_main['nop'] = df_main['nop'].apply(float_to_str)
except:
    print('not decimal already')

not decimal already

In [20]:
df_main.shape

(14932, 33)

In [21]:
## null nop
df_main['nop'].isnull().mean()

0.1293865523707474

In [22]:
df_main['nop'].isnull().sum()

1932

In [23]:
## Length NOP
len(df_main.nop[0])

18

In [24]:
## Sim Data lower colname
col_use2 = [x.lower() for x in df_sim.columns]
col_mapping = dict(zip(df_sim.columns, col_use2))
df_sim = df_sim.rename(columns = col_mapping)
try:
    df_sim['nop'] = df_sim['nop'].apply(float_to_str)
except:
     print('not decimal already')
df_sim.shape

not decimal already

(19832, 10)

In [25]:
df_sim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19832 entries, 0 to 19831
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nop         19832 non-null  object
 1   nm_wp_sppt  19832 non-null  object
 2   luas_bumi   19832 non-null  int64
 3   luas_bng_s  19832 non-null  int64
 4   nm_kelurah  19832 non-null  object
 5   alamat_op   19832 non-null  object
 6   rw_op       19832 non-null  object
 7   rt_op       19832 non-null  object
 8   pola        19832 non-null  object
 9   keterangan  19832 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.5+ MB

In [26]:
df_main

,objectid,nop,nama_wp,nama_op,luas_geom,luas_bumi,luas_bgn,alamat_op,kav_no_op,rw,...,status_p_1,google_map,ket_fasum,kategori_f,pola_2021,umur_nop_r,shape_leng,shape_area,ketluas,rasio_luas
0,1,317402000102305650,ASRIL,RUMAH HUNIAN,72.165448,50,50,KP DURI KOSAMBI,NaN,4,...,BELUM LUNAS,https://www.google.com/maps?q=-6.1559923564799...,NaN,NaN,XXXXXXXXX00111111111111111111,21,34.915345,72.165448,SESUAI,144.330896
1,2,317402000102310220,SYUKRI YUSUF,RUMAH HUNIAN,48.496864,50,50,JL KP DURI,NaN,4,...,BELUM LUNAS,https://www.google.com/maps?q=-6.1564920859192...,NaN,NaN,XXXXXXXXXXXXXXXXXXXXXXXX11111,6,31.645367,48.496864,SESUAI,96.993729
2,3,317402000102301070,MAMAT NASIR,RUMAH HUNIAN,99.123475,49,40,JL DAAN MOGOT RAYA,69,4,...,BELUM LUNAS,https://www.google.com/maps?q=-6.1546511922059...,NaN,NaN,11111111111111111111111111111,30,52.152486,99.123475,KEBESARAN,202.292806
3,4,317402000102300150,MUDJADJI,WARUNG,105.503454,40,36,JL TIMBUL JAYA,NaN,4,...,BELUM LUNAS,https://www.google.com/maps?q=-6.1536160021447...,NaN,NaN,01111110111110111000010111111,30,43.472204,105.503454,KEBESARAN,263.758636
4,5,NaN,NaN,PERUMAHAN,116.448720,0,0,JL TIMBUL JAYA,NaN,4,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1534833517133...,NaN,NaN,NaN,0,45.232323,116.448720,BIDANG LUAS BUMI 0(TANPA NOP),0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,14928,NaN,NaN,RUMAH HUNIAN,164.202892,0,0,JL PUSKESMAS II,NaN,7,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1659610782465...,NaN,NaN,NaN,0,62.540133,164.202892,BIDANG LUAS BUMI 0(TANPA NOP),0.000000
14928,14929,NaN,NaN,PERUMAHAN,689.434944,0,0,"JL SELONG, H.",NaN,1,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1731291548397...,NaN,NaN,NaN,0,117.629631,689.434944,BIDANG LUAS BUMI 0(TANPA NOP),0.000000
14929,14930,NaN,NaN,RUMAH HUNIAN,556.451655,0,0,JL KRESEK RAYA,NaN,15,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1760201667767...,NaN,NaN,NaN,0,111.944921,556.451655,BIDANG LUAS BUMI 0(TANPA NOP),0.000000
14930,14931,NaN,NaN,TANAH KOSONG,1138.722538,0,0,JL KRESEK RAYA,NaN,15,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1753973377176...,NaN,NaN,NaN,0,175.298664,1138.722538,BIDANG LUAS BUMI 0(TANPA NOP),0.000000
14931,14932,317402000101607180,HILALIYAH,PERUMAHAN,131.000997,54,50,JL H MUCHTAR,NaN,3,...,BELUM LUNAS,https://www.google.com/maps?q=-6.1771816123556...,NaN,NaN,XXXXX111110110000001000111111,25,46.431675,131.000997,KEBESARAN,242.594440

In [29]:
## uniqueness --> main nop tidak unik
len(df_main.nop.unique()) == len(df_main)

False

In [31]:
nop_main = df_main.groupby('nop').size().sort_values()
nop_main[nop_main>1]

nop
317402000102300150     2
317402000101000120     2
317402000100401210     2
317402000100501470     2
317402000102302340     2
                      ..
317402000102304120     4
317402000101704840     4
317402000101716660     7
317402000101001300     8
317402000101705830    11
Length: 79, dtype: int64

In [33]:
## uniqueness --> sudah unik
len(df_sim.nop.unique()) == len(df_sim)

True

# Solve

In [117]:
uniq_nop_main = set(df_main.nop.unique())
uniq_nop_sim = set(df_sim.nop.unique())

In [118]:
## Exist in Sim but not Main --> belom terpetakan
nop_bt = uniq_nop_sim - uniq_nop_main
len(nop_bt)

6962

In [119]:
## Exist in both
len(uniq_nop_main & uniq_nop_sim)

12870

In [120]:
## yang nop null di main bisa ada di "belom terpetakan"

In [121]:
## belom terpetakan --> yang mungkin bisa isi null
df_sim_bt = df_sim[df_sim.nop.isin(nop_bt)]
df_sim_bt.sample(5)

,nop,nm_wp_sppt,luas_bumi,luas_bng_s,nm_kelurah,alamat_op,rw_op,rt_op,pola,keterangan
19191,317402000102004550,"IJO,H.",960,0,DURI KOSAMBI,KP SEMANAN,RW.008,RT.013,1111111111111111111111111111,Belum Terpetakan
16824,317402000101515810,GAN DAWIDJAJA YELLIANA,121,247,DURI KOSAMBI,JL KRESEK RAYA NO 12A,RW.003,RT.010,XXXXXXXXXXXXXXXXXXXXXXXXXXX1,Sudah Terpetakan
18381,317402000100901080,DJUHALIM A.SUDIANA,300,120,DURI KOSAMBI,JL DURI KOSAMBI RAYA 0046,RW.002,RT.012,0100000000000000000000000000,Sudah Terpetakan
4117,317402000100115430,"INTEN CIPTA SEJATI, PT.",0,28,DURI KOSAMBI,APT GREEN PARK VIEW Tower E E758,RW.005,RT.001,XXXXXXXXXXXXXXXXXXXXXXXXXX11,Sudah Terpetakan
16830,317402000101503940,H ABDUL KADIR,1000,0,DURI KOSAMBI,JL KRESEK RAYA,RW.003,RT.010,XX00000001101111111111100000,Belum Terpetakan

In [122]:
## df main nop is null
df_main_null = df_main[df_main.nop.isnull()]
df_main_null.sample(5)

,objectid,nop,nama_wp,nama_op,luas_geom,luas_bumi,luas_bgn,alamat_op,kav_no_op,rw,...,status_p_1,google_map,ket_fasum,kategori_f,pola_2021,umur_nop_r,shape_leng,shape_area,ketluas,rasio_luas
8912,8913,NaN,NaN,PERUMAHAN,83.674814,0,0,JL AMD KP PULO,NaN,8,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1801584054129...,NaN,NaN,NaN,0,46.746136,83.674814,BIDANG LUAS BUMI 0(TANPA NOP),0.0
6005,6006,NaN,NaN,MASJID,878.665842,0,0,"JL MALI, H",NaN,1,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1659089982405...,FASUM,KEAGAMAAN,NaN,0,118.413634,878.665842,BIDANG LUAS BUMI 0(TANPA NOP),0.0
6318,6319,NaN,NaN,RUKO,187.560723,0,0,JL DURI KOSAMBI RAYA,104,1,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1694381469126...,NaN,NaN,NaN,0,58.873678,187.560723,BIDANG LUAS BUMI 0(TANPA NOP),0.0
11973,11974,NaN,NaN,PERUMAHAN,78.381543,0,0,JL PONDOK RANDU RAYA,NaN,2,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1705442822708...,NaN,NaN,NaN,0,35.656878,78.381543,BIDANG LUAS BUMI 0(TANPA NOP),0.0
8256,8257,NaN,NaN,PERUMAHAN,112.501798,0,0,KO KOSAMBI BARU II C-EXT 7,29,15,...,BIDANG TIDAK DITEMUKAN NOP DI LAPANGAN,https://www.google.com/maps?q=-6.1765796395814...,NaN,NaN,NaN,0,43.365903,112.501798,BIDANG LUAS BUMI 0(TANPA NOP),0.0

join process

In [123]:
df_sim_bt.shape

(6962, 10)

In [124]:
df_main_null.shape

(1932, 33)

In [145]:
df_sim_bt

,nop,nm_wp_sppt,luas_bumi,luas_bng_s,nm_kelurah,alamat_op,rw_op,rt_op,pola,keterangan
0,317402000102208050,ABBAS A QQ NADIA A/PT THI,0,30,DURI KOSAMBI,APT TSI ANG 5/3,0,0,XXXXXXXXXXXX1111111111111111,Belum Terpetakan
1,317402000101908670,ABDUL MAJID H,762,0,DURI KOSAMBI,JL AL FALAH,0,0,X110000000110000000000000000,Belum Terpetakan
2,317402000102206750,ADHITA LESTARI W/PT THI,0,30,DURI KOSAMBI,APT TSI AL 6/3,0,0,XXXXXXXXXXXX1111111111111111,Belum Terpetakan
3,317402000102207790,ADI DJUNAEDI/PT THI,0,30,DURI KOSAMBI,APT TSI ANG 2/22,0,0,XXXXXXXXXXXX1111111110000000,Belum Terpetakan
4,317402000102207000,ADI SOEHERMAN/PT THI,0,14,DURI KOSAMBI,APT TSI AL 7/7,0,0,XXXXXXXXXXXX1111110111111111,Belum Terpetakan
...,...,...,...,...,...,...,...,...,...,...
19819,317402000101506870,NURDIN J SANDJAJA,200,50,DURI KOSAMBI,"JL SANUSI, H.",13,15,XXXXX11111111111111111111111,Belum Terpetakan
19822,317402000101506580,SIDDHARTHA PRAKASA BSC,120,0,DURI KOSAMBI,"JL SELONG, H. .",13,15,XXXXXXXXX1111111111111111100,Belum Terpetakan
19823,317402000101506680,SOE KENG HUI,458,0,DURI KOSAMBI,KP PONDOK SAMBI .,13,15,XXXXXXXXX1111100000000000000,Belum Terpetakan
19827,317402000102208380,MAGDALENA WIDYAWATY,0,14,DURI KOSAMBI,APT TSI TOWER ANGGREK 6/17,11,16,XXXXXXXXXXXX1111111111111111,Belum Terpetakan
19829,317402000101914080,SARDJANA H DRS,96,0,DURI KOSAMBI,JL AMD KP GUNUNG 8,5,19,XXXXXXXXXXX11111111111010000,Belum Terpetakan

In [125]:
df_sim_bt.columns

Index(['nop', 'nm_wp_sppt', 'luas_bumi', 'luas_bng_s', 'nm_kelurah',
       'alamat_op', 'rw_op', 'rt_op', 'pola', 'keterangan'],
      dtype='object')

In [126]:
df_main_null.columns

Index(['objectid', 'nop', 'nama_wp', 'nama_op', 'luas_geom', 'luas_bumi',
       'luas_bgn', 'alamat_op', 'kav_no_op', 'rw', 'rt', 'kelurahan',
       'kecamatan', 'wilayah', 'ket', 'sumber', 'id_blok', 'sia_ket_no',
       'status', 'sia_ket', 'url_foto', 'search', 'status_pem', 'status_p_1',
       'google_map', 'ket_fasum', 'kategori_f', 'pola_2021', 'umur_nop_r',
       'shape_leng', 'shape_area', 'ketluas', 'rasio_luas'],
      dtype='object')

In [154]:
# df_main_null[['luas_bumi','luas_geom']]

In [127]:
col_join_mapping = {'rw':'rw_op', 'rt':'rt_op', 'nop':'nop_old'}
df_main_null = df_main_null.rename(columns = col_join_mapping)

In [136]:
# col_join_use = ['rw_op','rt_op','alamat_op', 'luas_bumi']
col_join_use = ['rw_op','rt_op','alamat_op']

for c in col_join_use:
    df_main_null[c] = df_main_null[c].astype(str)
    df_main_null[c] = df_main_null[c].str.strip()
    df_sim_bt[c] = df_sim_bt[c].astype(str)
    df_sim_bt[c] = df_sim_bt[c].str.strip()

map_rtrw = lambda x : str(int(x[-3:]))
## remove RT / RW
df_sim_bt['rw_op'] = df_sim_bt['rw_op'].apply(map_rtrw)
df_sim_bt['rt_op'] = df_sim_bt['rt_op'].apply(map_rtrw)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == "":
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [139]:
# df_main_null[col_join_use].sort_values('luas_bumi')

In [151]:
df_sim_bt[col_join_use]

      rw_op rt_op                   alamat_op
0         0     0             APT TSI ANG 5/3
1         0     0                 JL AL FALAH
2         0     0              APT TSI AL 6/3
3         0     0            APT TSI ANG 2/22
4         0     0              APT TSI AL 7/7
...     ...   ...                         ...
19819    13    15               JL SANUSI, H.
19822    13    15             JL SELONG, H. .
19823    13    15           KP PONDOK SAMBI .
19827    11    16  APT TSI TOWER ANGGREK 6/17
19829     5    19          JL AMD KP GUNUNG 8

[6962 rows x 3 columns]

In [141]:
df_join = pd.merge(df_main_null, df_sim_bt[col_join_use+['nop']], on = col_join_use, how = 'left')
df_join[~(df_join['nop'].isnull())]

,objectid,nop_old,nama_wp,nama_op,luas_geom,luas_bumi,luas_bgn,alamat_op,kav_no_op,rw_op,...,google_map,ket_fasum,kategori_f,pola_2021,umur_nop_r,shape_leng,shape_area,ketluas,rasio_luas,nop
2,8,NaN,NaN,RUMAH HUNIAN,59.950917,0,0,"JL SANUSI, H.",NaN,13,...,"https://www.google.com/maps?q=-6.174439949438,...",NaN,NaN,NaN,0,38.826260,59.950917,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101500040
3,9,NaN,NaN,RUMAH HUNIAN,113.324656,0,0,"JL SANUSI, H.",NaN,13,...,https://www.google.com/maps?q=-6.1753332998087...,NaN,NaN,NaN,0,44.773038,113.324656,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101500040
4,10,NaN,NaN,RUMAH HUNIAN,97.810347,0,0,"JL SANUSI, H.",NaN,13,...,https://www.google.com/maps?q=-6.1753267734680...,NaN,NaN,NaN,0,43.581328,97.810347,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101500040
5,12,NaN,NaN,RUMAH HUNIAN,50.636233,0,0,"JL SANUSI, H.",NaN,13,...,https://www.google.com/maps?q=-6.1746028379001...,NaN,NaN,NaN,0,32.938591,50.636233,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101500040
6,14,NaN,NaN,RUMAH HUNIAN,66.764782,0,0,"JL SANUSI, H.",NaN,13,...,https://www.google.com/maps?q=-6.1749972880921...,NaN,NaN,NaN,0,33.222245,66.764782,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101500040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8465,14923,NaN,NaN,RUMAH HUNIAN,35.020903,0,0,JL DAAN MOGOT RAYA,NaN,4,...,https://www.google.com/maps?q=-6.1552464591909...,NaN,NaN,NaN,0,27.582649,35.020903,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000102301010
8466,14923,NaN,NaN,RUMAH HUNIAN,35.020903,0,0,JL DAAN MOGOT RAYA,NaN,4,...,https://www.google.com/maps?q=-6.1552464591909...,NaN,NaN,NaN,0,27.582649,35.020903,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000102301020
8472,14929,NaN,NaN,PERUMAHAN,689.434944,0,0,"JL SELONG, H.",NaN,1,...,https://www.google.com/maps?q=-6.1731291548397...,NaN,NaN,NaN,0,117.629631,689.434944,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101104970
8473,14929,NaN,NaN,PERUMAHAN,689.434944,0,0,"JL SELONG, H.",NaN,1,...,https://www.google.com/maps?q=-6.1731291548397...,NaN,NaN,NaN,0,117.629631,689.434944,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101102920
8474,14929,NaN,NaN,PERUMAHAN,689.434944,0,0,"JL SELONG, H.",NaN,1,...,https://www.google.com/maps?q=-6.1731291548397...,NaN,NaN,NaN,0,117.629631,689.434944,BIDANG LUAS BUMI 0(TANPA NOP),0.0,317402000101102060